<h1>Searches</h1>

<p *ngIf="loading">Loading...</p>
<ul>
  <li *ngFor="let trialSearch of searches">
    {{ trialSearch.query }}
    <span class="clickable" (click)="deleteTrialSearch(trialSearch)">[x]</span>
  </li>
</ul>

<div>
  <h2 *ngIf="!loading" class="clickable" (click)="toggleShowAddNew()">
    + Add new
  </h2>

  <form *ngIf="showAddNew && !loading" (ngSubmit)="saveTrialSearch()">
    <div>
      <input
        [(ngModel)]="newTrial.query"
        name="query"
        type="text"
        placeholder="query"
      />
      <button class="button" type="submit">Save</button>
    </div>
  </form>
</div>
