<h1>Trials</h1>

<table class="trials-list">
  <thead>
    <tr>
      <th (click)="sortBy('phase')">Phase</th>
      <th class="column-title" (click)="sortBy('title')">Title</th>
      <th (click)="sortBy('lastUpdated')">Last updated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trial of sortedTrials" [class.selected]="trial === selectedTrial" (click)="selectTrial(trial)">
      <td>{{ trial.phase }}</td>
      <td class="column-title">{{ trial.title }}</td>
      <td>{{ trial.lastUpdated > 1 ? ((trial.lastUpdated * 1000) | date) : '-' }}</td>
    </tr>
  </tbody>
</table>


<app-trial-detail *ngIf="selectedTrial" [trial]="selectedTrial"></app-trial-detail>