<h1>Trials</h1>

<table class="trials-list">
  <thead>
    <tr>
      <th>NCT id</th>
      <th>Acronym</th>
      <th (click)="sortBy('phase')" class="clickable">Phase</th>
      <th class="column-title clickable" (click)="sortBy('title')">Title</th>
      <th (click)="sortBy('lastUpdated')" class="clickable">Last updated</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let trial of sortedTrials"
      [class.selected]="trial === selectedTrial"
      (click)="selectTrial(trial)"
      title="View trial details"
    >
      <td>{{ trial.trialId }}</td>
      <td>{{ trial.acronym || "-" }}</td>
      <td>{{ trial.phase || "-" }}</td>
      <td class="column-title">{{ trial.title || "-" }}</td>
      <td>
        {{ trial.lastUpdated > 1 ? (trial.lastUpdated * 1000 | date) : "-" }}
      </td>
    </tr>
  </tbody>
</table>

<ul *ngIf="pages.length > 1" class="pagination">
  <li
    [ngClass]="{ clickable: hasPrevPage }"
    (click)="hasPrevPage && prevPage()"
  >
    <span>Prev</span>
  </li>
  <li
    *ngFor="let p of pages"
    [ngClass]="{ clickable: pageNumber !== p }"
    (click)="fetchPage(p)"
  >
    <span>{{ p }}</span>
  </li>
  <li
    [ngClass]="{ clickable: hasNextPage }"
    (click)="hasNextPage && nextPage()"
  >
    <span>Next</span>
  </li>
</ul>

<app-trial-detail
  [trial]="selectedTrial"
  [isLoading]="loadingTrialdetails"
  (closer)="onCloseDetails()"
></app-trial-detail>
